{% extends 'base.html' %}
{% load static %}

{% block content %}


<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="current">Bangri-AgTech</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Portfolio Details Section -->
  <section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper init-swiper">

            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                }
              }
            </script>

            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangri1.png' %}" class="img-fluid" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangri21.png' %}" class="img-fluid" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangri31.png' %}" class="img-fluid" alt="">
              </div>
              
              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangri41.png' %}" class="img-fluid" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangri51.png' %}" class="img-fluid" alt="">
              </div>

            

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Technologies utilisées</h3>
            <ul>
              <li><strong>Backend :</strong> Django (Python) pour la gestion de la logique métier et des bases de données.</li>
              <li><strong>Base de données :</strong> PostgreSQL pour un stockage fiable et performant des informations.</li>
              <li><strong>Outils analytiques :</strong> Power BI et Python pour l’analyse et la visualisation des données.</li>
              <li><strong>Frontend :</strong> HTML, CSS, JavaScript, Bootstrap pour une interface utilisateur intuitive et responsive.</li>
          
                <li><strong>Github</strong>: <a href="https://github.com/EmmanuelBANGWEN/bangri-agtech" target="_blank" class="btn mx-1 m-top">Click ici</a></li>
            </ul>
          </div>
          <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <h2>Bangri : Un plateforme proposant des solutions Agtech</h2>
            <p>
              Bangri-AgTech est une plateforme conçue pour transformer le secteur agricole en améliorant les rendements 
              et l’efficacité des exploitations grâce à des technologies avancées telles que l’analyse de données et la visualisation interactive.
          </p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- /Portfolio Details Section -->

</main>



{% endblock content %}
