{% extends 'base.html' %}
{% load static %}

{% block content %}


<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="current">BangPig</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Portfolio Details Section -->
  <section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper init-swiper">

            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                }
              }
            </script>

            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangpig1.png' %}" class="img-fluid" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangpig21.png' %}" class="img-fluid" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangpig31.png' %}" class="img-fluid" alt="">
              </div>
              
              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangpig41.png' %}" class="img-fluid" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangpig51.png' %}" class="img-fluid" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangpig61.png' %}" class="img-fluid" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/bangpig71.png' %}" class="img-fluid" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Technologies utilisées</h3>
            <ul>
              <li><strong>Backend :</strong> Django (Python) pour gérer la logique métier et la base de données.</li>
              <li><strong>Frontend :</strong> HTML, CSS, JavaScript, Bootstrap pour une interface utilisateur intuitive et responsive.</li>
          
                <li><strong>Github</strong>: <a href="https://github.com/EmmanuelBANGWEN/BangPig-Agtech" target="_blank" class="btn mx-1 m-top">Click ici</a></li>
            </ul>
          </div>
          <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <h2>BangPig :
              Application de gestion d'une ferme</p>
           </h2>
           <p>
            BangPig est une application spécialement conçue pour aider les éleveurs de porcs à gérer efficacement leur cheptel. 
            Inspirée des besoins réels d’un éleveur confronté à des difficultés dans le suivi et l'identification des animaux, 
            cette application offre une solution intuitive et complète pour une gestion simplifiée des données clés.
        </p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- /Portfolio Details Section -->

</main>



{% endblock content %}
