{% extends 'base.html' %}
{% load static %}

{% block content %}


<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="current">EBook</li>

          <li class="current">BIG DATA ET
            INTELLIGENCE
            ARTIFICIELLE EN
            AGRICULTURE</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Portfolio Details Section -->
  <section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

      
        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <h2>BIG DATA ET
                INTELLIGENCE
                ARTIFICIELLE EN
                AGRICULTURE
           </h2>
           <p>
            BIG DATA ET
INTELLIGENCE
ARTIFICIELLE EN
AGRICULTURE

        </p>

        <div class="col-mb-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Auteur</h3>
              <ul>
                <li><strong>Emmanuel Bangwen</strong>
      
            </ul>    
      
            </div>
          </div>
          <div class="col-mb-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Prix</h3>
              <ul>
                <li><strong>2000 Fcfa</strong>
      
            </ul>    
      
            </div>
          </div>

          </div>

                <div class="col-mb-4">
          <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Description</h3>
            <ul>
              <li><strong>Plongez au cœur de l’innovation agricole avec cet eBook captivant. 
                Apprenez comment le Big Data et l’Intelligence Artificielle transforment la collecte,
                 l’analyse et l’utilisation des données en agriculture. Découvrez des cas concrets 
                 d’optimisation des cultures, de l’irrigation à la récolte, et préparez-vous à relever
                  les défis de demain. Pour tous les agriculteurs visionnaires et adeptes des 
                  nouvelles technologies, cet eBook est une mine d’informations.

              </strong>
            <li><strong>...</strong>

          </ul>    

          </div>
        </div>

          <div class="col-mb-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
             
          <h3>Titres principaux</h3>
          <ul>
                <li><strong> Les Fondamentaux du Big Data et de l’IA

                </strong>
                <li><strong>Le Big Data au Service de l’Agriculture
                </strong>
                <li><strong>L’IA : Un Allié pour l’Agriculteur</strong>
                <li><strong>Cas d’Utilisation Concrets</strong>

               
            </ul>
          </div>
          
        </div>

      </div>

    </div>

  </section><!-- /Portfolio Details Section -->

</main>



{% endblock content %}
