{% extends 'base.html' %}
{% load static%}

{% block content %}



<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/bg.jpg' %}" alt="photo profile developpeur python" data-aos="fade-in" class="" >

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Emmanuel Bangwen</h2>
        <p>Je suis <span class="typed" data-typed-items="Développeur Python, Ingénieur Agronome, Data Analyst">Développeur Python</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>À propos de moi </h2>
        <p>
            Je m'appelle Emmanuel Bangwen. Ingénieur Agronome, 
            je suis passionné par l'intégration des technologies modernes dans le secteur agricole. 
    
                        
        </p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="{% static 'assets/img/Emmanuel_Bangwen.png' %}" class="img-fluid" alt="photo profile developpeur python">
            <!-- <img src="{% static 'assets/img/Emmanuel_Bangwen_picture.png' %}" class="img-fluid" alt="photo profile developpeur python"> -->
          </div>
          <div class="col-lg-8 content">
            <h2>Développeur Python &amp; Ingénieur Agronome</h2>
            <p class="fst-italic py-3">
                Avec des compétences en Python, Django, Analyse de données, et les technologies AgTech, je m'efforce de créer des solutions innovantes qui aident les entreprises agricoles à automatiser leurs opérations et à prendre des décisions basées sur les données. Bien que j'apprécie généralement tous les aspects de mon travail, ce qui me motive le plus est de concevoir des outils 
                pratiques et efficaces pour améliorer la productivité et l'efficacité dans le domaine agricole.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Anniversaire:</strong> <span>20 Février 2004</span></li> -->
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Téléphone:</strong> <span>+237 655 372 703</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Ville:</strong> <span>Yaoundé, Cameroun</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li> -->
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Ingénieur</span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>contact@emmanuelbangwen.com</span></li>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span></li> -->
                </ul>
              </div>
            </div>
            <p class="py-3">
                Je suis également enthousiaste à l'idée d'apprendre et 
                de collaborer pour résoudre des défis complexes dans le secteur.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    
    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Python</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="widget progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            
            <!-- <div class="progress">
              <span class="skill"><span>ChatGpt</span> <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
 -->
            <div class="progress">
              <span class="skill"><span>Postgresql</span> <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="widget progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Excel</span> <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="widget progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Power BI</span> <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="widget progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>HTML/CSS</span> <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="widget progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>GIT/GITHUB</span> <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="widget progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section light-background">

      <!-- Section Title -->
      <div class="projects container section-title" data-aos="fade-up">
        <h2>Projects</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div><!-- End Section Title -->

      <div class=" container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <!-- <li data-filter=".filter-product">Product</li>
            <li data-filter=".filter-branding">Branding</li> -->
            <li data-filter=".filter-books">Guides</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/bangri11.png' %}" class="img-fluid" alt="bangri-agtech">
                <div class="portfolio-info">
                  <h4>App 1</h4>
                  <p>Bangri : Un plateforme proposant des solutions Agtech
                  </p>
                  <a href="{%static 'assets/img/bangri11.png' %}" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'bangri' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/bangpig11.png' %}" class="img-fluid" alt="bangpig-agtech">
                <div class="portfolio-info">
                  <h4>App 2</h4>
                  <p>BangPig :
                    Application de gestion d'une ferme</p>
                  <a href="{%static 'assets/img/bangpig11.png' %}" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'bangpig' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->


            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/zbang1.png' %}" class="img-fluid" alt="zbang-agtech">
                <div class="portfolio-info">
                  <h4>App 3</h4>
                  <p>Zbang : pour la gestion des ruches 
                    et récoltes de miel</p>
                  <a href="{% static 'assets/img/zbang1.png' %}" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'zbang' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
             
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/bangquiz111.png' %}" class="img-fluid" alt="bangquiz-python programming">
                <div class="portfolio-info">
                  <h4>App 4</h4>
                  <p>BangQuiz : Jeux de quiz python </p>
                  <a href="{% static 'assets/img/bangquiz111.png' %}" title="App 4" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'bangquiz' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/data.jpg' %}" class="img-fluid" alt="data analyst for agricuture">
                <div class="portfolio-info">
                  <h4>EBooks 3</h4>
                  <p>Optimiser les rendements agricoles grace aux technologies de données</p>
                  <a href="{%static 'assets/img/data.jpg' %}" title="Ebook 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'optimisation' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/ia.png' %}" class="img-fluid" alt="artifical  intelligent for agriculture">
                <div class="portfolio-info">
                  <h4>EBooks 2</h4>
                  <p>Big data et intelligence artificielle en agriculture</p>
                  <a href="{%static 'assets/img/ia.png' %}" title="Ebook 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'bigdata' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->


            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/nutrition.png' %}" class="img-fluid" alt="big data for animal nutrition">
                <div class="portfolio-info">
                  <h4>EBooks 1</h4>
                  <p>Nutrition Animale de
                    Précision : Ajuster
                    les Rations en
                    Fonction des
                    Besoins</p>
                  <a href="{%static 'assets/img/nutrition.png' %}" title="Ebook 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'nutrition' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div> 

            
            
          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
      </div><!-- End Section Title -->
    
      <div class="container">
    
        <div class="row gy-4">
    
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
              <h4 class="title"><a href="{% url 'consultations' %}" class="stretched-link">Consultation</a></h4>
              <p class="description">J'accompagne les entreprises agricoles pour améliorer leurs rendements grâce aux technologies innovantes.</p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
            <div>
              <h4 class="title"><a href="{% url 'developpement' %}" class="stretched-link">Développement Logiciel</a></h4>
              <p class="description">Je développe des applications et des sites web sur mesure, adaptés aux besoins spécifiques de chaque client.</p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
            <div>
              <h4 class="title"><a href="{% url 'marketing' %}" class="stretched-link">Marketing Digital</a></h4>
              <p class="description">J'aide mes clients à promouvoir et vendre leurs produits plus efficacement grâce à des stratégies digitales ciblées.</p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
            <div>
              <h4 class="title"><a href="{% url 'business' %}" class="stretched-link">Business Intelligence</a></h4>
              <p class="description">Je crée des stratégies basées sur des analyses mathématiques et statistiques pour des décisions plus efficaces.</p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
            <div>
              <h4 class="title"><a href="{% url 'transformation' %}" class="stretched-link">Transformation Digitale</a></h4>
              <p class="description">J'accompagne mes clients dans leur transition digitale pour intégrer des solutions innovantes et accroître leurs revenus.</p>
            </div>
          </div><!-- End Service Item -->
    
        </div>
    
      </div>
    
    </section><!-- /Services Section -->
    
    
    
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">
            {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
            <div class="">
              <h4>Contactez-moi</h4>
              <p>N'hésitez pas à me contacter pour plus d'informations sur mes services</p>

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                <h5>Localisation:</h5>
                <p>Cameroun, Yaounde</p>
              </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                <h5>Email:</h5>
                <p>bikoyemmanuel531@gmail.com</p>
                
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h5>Call:</h5>
                <p>+237 655 372 703</p>
              
                </div>
              </div><!-- End Info Item -->

            </div>
          </div>
          
          <div class="col-lg-7">
            <form action="{% url 'home' %}" method="post" class="formulaire py-email-form" data-aos="fade-up" data-aos-delay="200">
              <!-- <form method="POST" action="{% url 'home' %}"> -->
                {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Nom</label>
                  <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value|default:'' }}" required>
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Email</label>
                  <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value|default:'' }}" required>
                </div>

                <div class="col-md-12">
                  <label for="number-field" class="pb-2">Numéro</label>
                  <input type="text" class="form-control" id="number" name="number" value="{{ form.number.value|default:'' }}" required>
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Message</label>
                  <textarea class="form-control" id="message" name="message" rows="4" required>{{ form.message.value|default:'' }}</textarea>
                </div>

                <div class="col-md-12 text-center">
                  <!-- <div class="loading">Loading</div> -->
                  <div class="error-message"></div>
                  <!-- <div class="sent-message">Your message has been sent. Thank you!</div> -->

                  <!-- <button type="submit">Send Message</button> -->
                  <button type="submit" class="btn btn-primary ">Envoyer</button>

                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->


  
        </div>

      </div>

    </section><!-- /Contact Section -->



  </main>

  <style>

      .about {
        background: linear-gradient(to right, #28a745, #c8f1c8);
      }
    .formulaire {
        background: linear-gradient(to right, #28a745, #c8f1c8);
      }
    .skills {
      background: linear-gradient(to right, #28a745, #c8f1c8);
    }
    .portfolio {
      background: linear-gradient(to right, #28a745, #c8f1c8);
    }    
    .services {
      background: linear-gradient(to right, #28a745, #c8f1c8);
    }
    .contact {
      background: linear-gradient(to right, #28a745, #c8f1c8);
    }

    .footer {
      background: linear-gradient(to right, #28a745, #c8f1c8);
    }
    </style>

  {% endblock content %}
