{% extends 'base.html' %}
{% load static %}

{% block content %}


<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="current">EBook</li>

          <li class="current">Nutrition Animale de
            Précision : Ajuster
            les Rations en
            Fonction des
            Besoins</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Portfolio Details Section -->
  <section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <h2>Nutrition Animale de
                Précision : Ajuster
                les Rations en
                Fonction des
                Besoins
           </h2>
           <p>
            Nutrition Animale de
Précision : Ajuster
les Rations en
Fonction des
Besoins

        </p>

        <div class="col-mb-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Auteur</h3>
              <ul>
                <li><strong>Emmanuel Bangwen</strong>
      
            </ul>    
      
            </div>
          </div>
          <div class="col-mb-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Prix</h3>
              <ul>
                <li><strong>2000 Fcfa</strong>
      
            </ul>    
      
            </div>
          </div>

          </div>

                <div class="col-mb-4">
          <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Description</h3>
            <ul>
              <li><strong>Découvrez comment la nutrition de précision révolutionne l’élevage. 
                Grâce à des outils avancés comme le Big Data et l’IA, cet eBook vous apprend à 
                ajuster les rations alimentaires aux besoins spécifiques de vos animaux. 
                Maximisez vos gains économiques, réduisez votre empreinte écologique, et améliorez 
                la santé animale. Une lecture incontournable pour les éleveurs et passionnés 
                cherchant à allier performance et durabilité.</strong>
            <li><strong>...</strong>

          </ul>    

          </div>
        </div>

          <div class="col-mb-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
             
          <h3>Titres principaux</h3>
          <ul>
                <li><strong> Les Bases de la Nutrition Animale

                </strong>
                <li><strong>La Technologie au Service de la Nutrition Précise
                </strong>
                <li><strong>Élaboration de Rations Personnalisées
                </strong>
                <li><strong>Les Bénéfices de la Nutrition de Précision
                </strong>

               
            </ul>
          </div>
          
        </div>

      </div>

    </div>

  </section><!-- /Portfolio Details Section -->

</main>



{% endblock content %}
