{% extends 'base.html' %}
{% load static %}

{% block content %}


<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="current">EBook</li>

          <li class="current">OPTIMISER LES
            RENDEMENTS
            AGRICOLES
            GRÂCE AUX
            TECHNOLOGIES
            DE DONNÉES</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Portfolio Details Section -->
  <section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <h2>OPTIMISER LES
                RENDEMENTS
                AGRICOLES
                GRÂCE AUX
                TECHNOLOGIES
                DE DONNÉES
           </h2>
           <p>
            OPTIMISER LES
RENDEMENTS
AGRICOLES
GRÂCE AUX
TECHNOLOGIES
DE DONNÉES

        </p>


    </div>

    <div class="col-mb-4">
      <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
        <h3>Auteur</h3>
        <ul>
          <li><strong>Emmanuel Bangwen</strong>

      </ul>    

      </div>
    </div>

    <!-- <div class="col-mb-4">
      <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
        <h3>Prix</h3>
        <ul>
          <li><strong>2000 Fcfa</strong>

      </ul>    

      </div>
    </div> -->

          </div>

        <div class="col-mb-4">
          <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Description</h3>
            <ul>
              <li><strong>Boostez vos rendements agricoles avec les technologies les plus modernes. 
                Cet eBook vous guide à travers les bases de l’AgTech, les outils de collecte de 
                données et leur interprétation pour améliorer vos pratiques agricoles. 
                Enrichi d’études de cas concrètes et d’indicateurs clés, ce guide pratique est 
                conçu pour vous aider à exploiter tout le potentiel de vos cultures. Un must pour 
                les agriculteurs et entrepreneurs en quête d’excellence.</strong>
            <li><strong>...</strong>

          </ul>    

          </div>
        </div>

          <div class="col-mb-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
             
          <h3>Titres principaux</h3>
          <ul>
                <li><strong>Les Bases de l’AgTech et des Données Agricoles
                </strong>
                <li><strong>Les Technologies pour Collecter des Données
                </strong>
                <li><strong>Comment les Données Améliorent les Pratiques Agricoles
                </strong>
                <li><strong>Les Meilleurs Indicateurs pour Optimiser les Cultures
                </strong>
                    <li><strong>Analyse et Interprétation des Données
                    </strong>
                        <li><strong>Études de Cas
                        </strong>
                            <li><strong>Outils et Ressources pour Se Lancer
                            </strong>

               
            </ul>
          </div>
          
        </div>

      </div>

    </div>

  </section><!-- /Portfolio Details Section -->

</main>



{% endblock content %}
